In [33]:
from pyspark.sql import SparkSession
from delta import configure_spark_with_delta_pip

builder = SparkSession.builder \
    .appName("Delta Spark 4.0.0") \
    .master("local[*]") \
    .enableHiveSupport() \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [34]:
#CARGANDO INFORMACIÓN EN DATAFRAMES
dim_ventas = spark.read.format("delta").load("../sql/dw_silver/dim_ventas")
dim_productos = spark.read.format("delta").load("../sql/dw_silver/dim_productos")
dim_clientes = spark.read.format("delta").load("../sql/dw_silver/dim_clientes")
dim_territorio = spark.read.format("delta").load("../sql/dw_silver/dim_territorio")
dim_fecha = spark.read.format("delta").load("../sql/dw_silver/dim_fecha")

In [35]:
dim_ventas.show(5)
dim_productos.show(5)
dim_clientes.show(5)
dim_territorio.show(5)
dim_fecha.show(5)

+--------+---------+------------+-------------------+----------+---------------+---------------+-----------+
|PedidoID|ClienteID|TerritorioID|        FechaPedido|ProductoID|Cantidad_pedido|Precio_Unitario|Linea_total|
+--------+---------+------------+-------------------+----------+---------------+---------------+-----------+
|   61793|    21540|          10|2013-12-09 00:00:00|       980|              1|         769.49|     769.49|
|   62015|    20437|           4|2013-12-12 00:00:00|       799|              1|        1120.49|    1120.49|
|   62680|    29168|           4|2013-12-23 00:00:00|       978|              1|         742.35|     742.35|
|   62985|    12785|           6|2013-12-28 00:00:00|       782|              1|        2294.99|    2294.99|
|   63087|    13861|           1|2013-12-30 00:00:00|       878|              1|          21.98|      21.98|
+--------+---------+------------+-------------------+----------+---------------+---------------+-----------+
only showing top 5 rows
+----------+------+---------------+------------+--------------------+
|ProductoID|Nombre|Numero_producto|Precio_lista|     Nombre_producto|
+----------+------+---------------+------------+--------------------+
|         1|  NULL|        AR-5381|         0.0|     Adjustable Race|
|         2|  NULL|        BA-8327|         0.0|        Bearing Ball|
|         3|  NULL|        BE-2349|         0.0|     BB Ball Bearing|
|         4|  NULL|        BE-2908|         0.0|Headset Ball Bear...|
|       316|  NULL|        BL-2036|         0.0|               Blade|
+----------+------+---------------+------------+--------------------+
only showing top 5 rows
+---------+------------+
|ClienteID|TerritorioID|
+---------+------------+
|      148|           3|
|      463|           7|
|      471|           4|
|      496|           6|
|    11033|           9|
+---------+------------+
only showing top 5 rows
+------------+------+----------------+-------------+-----------------+
|TerritorioID|Nombre|CodigoPaisRegion|   Continente|Nombre_territorio|
+------------+------+----------------+-------------+-----------------+
|           1|  NULL|              US|North America|        Northwest|
|           2|  NULL|              US|North America|        Northeast|
|           3|  NULL|              US|North America|          Central|
|           4|  NULL|              US|North America|        Southwest|
|           5|  NULL|              US|North America|        Southeast|
+------------+------+----------------+-------------+-----------------+
only showing top 5 rows
+--------+----------+----+---+---------+---------+---------+---------+-------------+
| FechaID|     Fecha| Año|Mes|Trimestre|NombreMes|NombreDia|DiaSemana|EsFinDeSemana|
+--------+----------+----+---+---------+---------+---------+---------+-------------+
|20110101|2011-01-01|2011|  1|        1|  January| Saturday|        7|            1|
|20110102|2011-01-02|2011|  1|        1|  January|   Sunday|        1|            1|
|20110103|2011-01-03|2011|  1|        1|  January|   Monday|        2|            0|
|20110104|2011-01-04|2011|  1|        1|  January|  Tuesday|        3|            0|
|20110105|2011-01-05|2011|  1|        1|  January|Wednesday|        4|            0|
+--------+----------+----+---+---------+---------+---------+---------+-------------+
only showing top 5 rows

In [36]:
#CREACIÓN DE TABLA DE HECHOS
from pyspark.sql.functions import date_format, col
df_hechos = dim_ventas.select(
    "ProductoID",
    "PedidoID",
    date_format(col("FechaPedido"), "yyyyMMdd").cast("int").alias("FechaID"),
    "ClienteID",
    "TerritorioID",
    "Cantidad_pedido",
    "Linea_total"
)
df_hechos.show()

+----------+--------+--------+---------+------------+---------------+-----------+
|ProductoID|PedidoID| FechaID|ClienteID|TerritorioID|Cantidad_pedido|Linea_total|
+----------+--------+--------+---------+------------+---------------+-----------+
|       980|   61793|20131209|    21540|          10|              1|     769.49|
|       799|   62015|20131212|    20437|           4|              1|    1120.49|
|       978|   62680|20131223|    29168|           4|              1|     742.35|
|       782|   62985|20131228|    12785|           6|              1|    2294.99|
|       878|   63087|20131230|    13861|           1|              1|      21.98|
|       797|   63106|20131230|    25029|           9|              1|    1120.49|
|       975|   63155|20131231|    30094|           4|              2|   2041.188|
|       875|   63271|20131231|    30022|           4|              6|     32.364|
|       871|   63574|20140104|    20533|           4|              1|       9.99|
|       871|   63645|20140105|    21801|           4|              1|       9.99|
|       929|   63964|20140110|    23027|           4|              1|      29.99|
|       933|   64121|20140113|    16622|           9|              1|       32.6|
|       792|   64423|20140117|    20640|           4|              1|    2443.35|
|       801|   64519|20140118|    20835|           8|              1|    1120.49|
|       780|   64590|20140119|    15328|           4|              1|    2319.99|
|       922|   64628|20140120|    20085|           6|              1|       3.99|
|       878|   64822|20140123|    15671|          10|              1|      21.98|
|       712|   64859|20140124|    15031|           9|              1|       8.99|
|       971|   65220|20140129|    29534|           5|              1|     728.91|
|       864|   65241|20140129|    30092|           9|              2|       76.2|
+----------+--------+--------+---------+------------+---------------+-----------+
only showing top 20 rows

In [37]:
df_hechos.write.option("mergeSchema", "true").format("delta").mode("overwrite").save("../sql/dw_gold/df_hechos")

In [38]:
#OPERACIONES DE CONSULTAS
from pyspark.sql.functions import sum as _sum, round

#SUMA DE VENTAS POR CONTINENTE
df_ventas_continente = df_hechos.join(
    dim_territorio,
    on = "TerritorioID",
    how = "inner"
).groupBy("Continente").agg(
    round(_sum("Linea_total"), 2).alias("Suma_Total")
)
df_ventas_continente.show()

#CANTIDAD VENDIDA POR PRODUCTO - AÑADIR TIPO O CLASIFICACIÓN DE PRODUCTO
df_cant_vendida = df_hechos.join(
    dim_productos,
    on = "ProductoID",
    how = "Inner"
).groupBy("Nombre_producto").agg(
    round(_sum("Precio_lista"), 2).alias("Suma_Total")
)
df_cant_vendida.show()

#TOP 10 PRODUCTOS MÁS VENDIDOS - AÑADIR TIPO O CLASIFICACIÓN DE PRODUCTO
df_top = df_hechos.join(
    dim_productos,
    on = "ProductoID",
    how = "inner"
).groupBy("Nombre_producto").agg(
    round(_sum("Cantidad_pedido"),2).alias("Suma_Cantidad")
).orderBy("Suma_Cantidad", ascending = False).limit(10)
df_top.show()

#VENTAS AGRUPADAS POR CONTINENTE
df_ventas_agrupadas = df_hechos.join(
    dim_territorio,
    on = "TerritorioID",
    how = "inner"
).join(
    dim_productos,
    on = "ProductoID",
    how = "Inner"
).groupBy("Continente","Nombre_producto").agg(round(_sum("Linea_total"),2).alias("Costo_Ventas_Continente"))
df_ventas_agrupadas.show()

#VENTAS REALIZADAS POR CONTINENTES POR FECHA
df_ventas_fecha = df_hechos.join(
    dim_fecha,
    on = "FechaID",
    how = "Inner"
).join(
    dim_territorio,
    on = "TerritorioID",
    how = "inner"
).groupBy("Continente","Fecha").agg(round(_sum("Linea_total"),2).alias("Ventas"))
df_ventas_fecha.show()

+-------------+-------------+
|   Continente|   Suma_Total|
+-------------+-------------+
|       Europe|   9180532.57|
|North America|1.482072734E7|
|      Pacific|   8979109.04|
+-------------+-------------+

+--------------------+----------+
|     Nombre_producto|Suma_Total|
+--------------------+----------+
| HL Road Frame - Red|  32139.47|
|  ML Road Rear Wheel|    826.16|
|  LL Road Handlebars|     445.4|
|  Mountain-100 Black| 597899.74|
|         ML Crankset|    256.49|
|       Touring Pedal|    323.96|
|      Women's Tights|    1577.6|
|      Road-250 Black|1914140.86|
|          LL Headset|     205.2|
|LL Mountain Frame...|   4482.41|
|   Road-550-W Yellow|1061775.82|
|          HL Headset|    997.84|
|HL Touring Handle...|    549.42|
|  Full-Finger Gloves|   1551.42|
|Mountain Bottle Cage|   6483.51|
|ML Mountain Handl...|   2105.28|
|ML Mountain Seat/...|    273.98|
|   Touring-3000 Blue| 153199.67|
|HL Touring Frame ...|  15645.34|
|LL Touring Seat/S...|     27.12|
+--------------------+----------+
only showing top 20 rows
+--------------------+-------------+
|     Nombre_producto|Suma_Cantidad|
+--------------------+-------------+
|  Mountain-200 Black|         2186|
| Mountain-200 Silver|         1970|
|      Road-750 Black|         1632|
|   Road-550-W Yellow|         1611|
|  Mountain Tire Tube|         1603|
|        Road-150 Red|         1583|
|      Road-250 Black|         1333|
|Women's Mountain ...|         1258|
|Water Bottle - 30...|         1237|
|      Road Tire Tube|         1169|
+--------------------+-------------+

+-------------+--------------------+-----------------------+
|   Continente|     Nombre_producto|Costo_Ventas_Continente|
+-------------+--------------------+-----------------------+
|North America|        Road-250 Red|               503696.6|
|       Europe|Bike Wash - Disso...|                  57.24|
|North America|         Rear Brakes|                  255.6|
|      Pacific|LL Mountain Frame...|                 449.62|
|      Pacific|   Touring-3000 Blue|               67908.32|
|      Pacific|     Rear Derailleur|                 218.63|
|      Pacific|               Chain|                  72.86|
|North America|Bike Wash - Disso...|                 744.12|
|      Pacific|    HL Mountain Tire|                 2975.0|
|       Europe|         HL Crankset|                 242.99|
|North America|HL Mountain Front...|                4503.22|
|       Europe|   Road-550-W Yellow|              513936.75|
|       Europe|  Mountain Tire Tube|                 1397.2|
|North America|   HL Bottom Bracket|                1312.09|
|      Pacific|Short-Sleeve Clas...|                3401.37|
|       Europe|Long-Sleeve Logo ...|                3834.16|
|North America|        ML Road Tire|                3348.66|
|       Europe|   Touring-2000 Blue|              178582.95|
|North America|  Mountain-500 Black|                81214.5|
|North America|  Mountain-100 Black|              695669.81|
+-------------+--------------------+-----------------------+
only showing top 20 rows
+-------------+----------+--------+
|   Continente|     Fecha|  Ventas|
+-------------+----------+--------+
|       Europe|2014-02-14|11896.17|
|      Pacific|2014-01-03|16471.19|
|North America|2013-08-28| 1814.81|
|      Pacific|2012-02-05| 3578.27|
|      Pacific|2011-12-29|11255.63|
|       Europe|2012-09-15| 7330.05|
|       Europe|2013-05-03| 6014.09|
|North America|2011-08-19|11433.91|
|      Pacific|2012-12-28| 3747.54|
|North America|2012-06-02| 7741.11|
|       Europe|2013-01-29| 2854.41|
|       Europe|2013-04-03|10869.37|
|       Europe|2011-11-06| 3578.27|
|       Europe|2012-03-02| 3578.27|
|North America|2011-06-04| 3578.27|
|       Europe|2012-12-14| 3747.54|
|North America|2013-11-30|75284.67|
|       Europe|2013-12-03|15540.53|
|      Pacific|2013-11-03| 10632.1|
|       Europe|2012-07-30| 6434.54|
+-------------+----------+--------+
only showing top 20 rows